




.container {
    position: absolute;
    top: 30px;
    left: 40%;
}

.img-sec {
    margin-left: 50px;
}



.dtl-sec {
    width: 300px;
    height: 280px;
    background-color: #EEE982;
    border-radius: 5px;
}

.hdng {
    font-size: 20px;
    padding-top: 30px;
    text-align: center;
}

form  {
    padding-top: 10px;
    padding-left: 40px;
}

form input {
    width: 200px;
    height: 25px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: none;
}

.btn {
    float: right;
    width: 150px;
    height: 30px;
    margin-right: 80px;
    background-color: #6474FF;
    border: none;
    border-radius: 5px;
    color: white;
}
